<!DOCTYPE html>
<html>
<head>
    <title>VI5ION R.A.P.T.O.R IPAD</title>
    <link rel="stylesheet" href="/static/style/style_sp_ipad.css">
</head>
<body>
    
    <a href="/Drone_ipad">
        <div class="box1">
            <h1>Drone Camera</h1>
        </div>
    </a>

    <a href="https://viso.ai/deep-learning/yolov8-guide/" target="_blank">
        <div class="box2">
            <h2>Help</h2>
        </div>
    </a>

    <a href="/gp_ipad">
        <div class="box3">
            <h3>Go-Pro Camera</h3>
        </div>
    </a>

</body>
</html>